---
import PostHeader from "../components/PostHeader.astro";
import MainLayout from "./MainLayout.astro";
import CategoryCloud from "../components/CategoryCloud.astro";

const { frontmatter } = Astro.props;
const { title, description, date, author, image, category } = frontmatter;
---

<MainLayout {title} {description}>
  <PostHeader {title} {category} {author} {image} {date} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <aside class="container" aria-lable="Blog Categories">
        <h2 class="h3">Blog Categories</h2>
        <CategoryCloud showCount={false} />
      </aside>
    </div>
  </div>
</MainLayout>
